@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(0.954 0.015 80.707);
  --foreground: oklch(0.229 0.017 37.344);
  --card: oklch(0.978 0.011 76.6);
  --card-foreground: oklch(0.229 0.017 37.344);
  --popover: oklch(0.983 0.012 67.687);
  --popover-foreground: oklch(0.229 0.017 37.344);
  --primary: oklch(0.694 0.12 60.79);
  --primary-foreground: oklch(0.237 0.034 55.45);
  --secondary: oklch(0.893 0.028 70.919);
  --secondary-foreground: oklch(0.373 0.033 53.703);
  --muted: oklch(0.924 0.02 69.985);
  --muted-foreground: oklch(0.497 0.034 50.17);
  --accent: oklch(0.872 0.033 64.389);
  --accent-foreground: oklch(0.302 0.03 49.077);
  --destructive: oklch(0.545 0.145 29.827);
  --border: oklch(0.839 0.029 65.704);
  --input: oklch(0.883 0.026 69.409);
  --ring: oklch(0.66 0.122 58.626);
  --chart-1: oklch(0.694 0.12 60.79);
  --chart-2: oklch(0.579 0.129 41.299);
  --chart-3: oklch(0.622 0.068 128.943);
  --chart-4: oklch(0.627 0.048 266.63);
  --chart-5: oklch(0.515 0.072 45.323);
  --radius: 0.45rem;
  --sidebar: oklch(0.926 0.021 74.654);
  --sidebar-foreground: oklch(0.229 0.017 37.344);
  --sidebar-primary: oklch(0.649 0.124 58.641);
  --sidebar-primary-foreground: oklch(0.237 0.034 55.45);
  --sidebar-accent: oklch(0.861 0.035 64.501);
  --sidebar-accent-foreground: oklch(0.302 0.03 49.077);
  --sidebar-border: oklch(0.825 0.03 64.058);
  --sidebar-ring: oklch(0.66 0.122 58.626);
}

.dark {
  --background: oklch(0.173 0.021 166.178);
  --foreground: oklch(0.957 0.02 150.1);
  --card: oklch(0.214 0.026 164.42);
  --card-foreground: oklch(0.957 0.02 150.1);
  --popover: oklch(0.233 0.029 164.001);
  --popover-foreground: oklch(0.957 0.02 150.1);
  --primary: oklch(0.762 0.212 145.617);
  --primary-foreground: oklch(0.163 0.023 162.512);
  --secondary: oklch(0.288 0.039 165.328);
  --secondary-foreground: oklch(0.919 0.028 151.904);
  --muted: oklch(0.245 0.031 162.479);
  --muted-foreground: oklch(0.742 0.052 161.299);
  --accent: oklch(0.32 0.052 158.952);
  --accent-foreground: oklch(0.963 0.021 152.19);
  --destructive: oklch(0.55 0.143 29.344);
  --border: oklch(0.353 0.048 160.837);
  --input: oklch(0.263 0.034 163.214);
  --ring: oklch(0.862 0.176 146.723);
  --chart-1: oklch(0.762 0.212 145.617);
  --chart-2: oklch(0.62 0.136 158.248);
  --chart-3: oklch(0.779 0.146 72.093);
  --chart-4: oklch(0.55 0.143 29.344);
  --chart-5: oklch(0.792 0.103 200.836);
  --sidebar: oklch(0.19 0.022 163.393);
  --sidebar-foreground: oklch(0.957 0.02 150.1);
  --sidebar-primary: oklch(0.762 0.212 145.617);
  --sidebar-primary-foreground: oklch(0.163 0.023 162.512);
  --sidebar-accent: oklch(0.294 0.043 160.347);
  --sidebar-accent-foreground: oklch(0.963 0.021 152.19);
  --sidebar-border: oklch(0.343 0.045 163.307);
  --sidebar-ring: oklch(0.862 0.176 146.723);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
  html {
    @apply font-sans;
  }
}
